description = "Default Layout"

==

{% partial 'header' %}

    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">About</li>
        </ol>

        <div class="row">
            
            <!-- Article main content -->
            <article class="col-sm-8 maincontent">
                {% page %}
            </article>
            <!-- /Article -->
            
            <!-- Sidebar -->
            <aside class="col-sm-4 sidebar sidebar-right">
                {% partial 'sidebar' %}
            </aside>
            <!-- /Sidebar -->

        </div>
    </div>  <!-- /container -->

{% partial 'footer' %}